<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="styles.css">

     <title>Document</title>
</head>


<body>

    
    
     <h1 id="home" >welcome</h1> 

  


    <tr></tr>


     
    <div class="linktopages">

        <h3><a href="/customer">signup</a></h3>
       
      
        <h2><a href="/forairline">for Airlinecompeny</a><h2>

          
        
        <h2><a href="/flights">flights</a></h2>
        
        </div> 
        
        <div class="imagethehome">
      <img src=https://skytrip.co.il/wp-content/uploads/2021/11/%D7%9E%D7%98%D7%95%D7%A1-%D7%9E%D7%9E%D7%A8%D7%99%D7%90-%D7%A0%D7%92%D7%93-%D7%94%D7%A8%D7%95%D7%97.png alt=""
      ></div>



    
</body>
</html>
